table{
    max-width: 600px;

}
table,tr,th,td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px 10px;
}
.img-wrapper{
    width:150px;
    height: 100px;
}
.image{
    width: 300px;
    height: 250px;
}
header{
    padding: 10px;
    background-color: cornflowerblue;
    text-align: center;

}
*{
    padding:0;
    margin: 0;
}

main, .main{
    padding: 20px;
}
footer{
    text-align: center;
}
b{
    margin-top:15px ;

}
body{
    background-color: aliceblue;
}

